body {
  background: url("../img/overlay.png") repeat #f3f3f3;
}
body header {
  background: url("../img/overlay.png") repeat #282b34;
  box-shadow: 0 0 10px #000000;
}
body header h1 {
  font-family: "Roboto Slab";
  color: white;
  margin: 25px 0;
  font-size: 3.3em;
  float: left;
}
body header ul {
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
}
body header ul.navbar_icon {
  display: none;
}
body header ul.navbar_icon li {
  margin-top: 10px;
  padding: 0 35px;
  font-size: 2.7em;
}
body header ul.navbar_list {
  z-index: 99;
}
body header ul.navbar_list li {
  margin: 40px 0 0 0;
}
body header ul li {
  display: inline-block;
}
body header ul li a {
  padding: 0 25px;
  color: #eeeeee;
  opacity: .7;
  font-size: 1.6em;
  font-family: "Arial";
  transition: opacity 0.15s ease-in-out;
}
body header ul li a:hover,
body header ul li a:focus {
  text-decoration: none;
  color: #eeeeee;
  opacity: 1;
}
body article {
  margin-top: 50px;
}
body article .alert {
  padding-left: 30px;
}
body section {
  position: relative;
}
body section #switcher {
  margin-top: 100px;
  position: relative;
}
body section #switcher input {
  display: none;
}
body section #switcher label {
  position: relative;
  top: 5px;
  left: 50px;
  font-weight: 200;
  font-size: 1.3em;
  color: #b8bab3;
  border-top: 2px solid #b8bab3;
  border-right: 2px solid #b8bab3;
  border-left: 2px solid #b8bab3;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 5px 30px;
  transition: all .5s;
  cursor: pointer;
}
body section #switcher input:checked + label {
  color: #282b34;
  background: url("../img/overlay.png") repeat white;
  border-color: #282b34 #282b34 white #282b34;
}
body section form#csgo_form {
  display: none;
}
body section form#dota_form,
body section form#csgo_form {
  background: url("../img/overlay.png") repeat white;
  padding: 50px 75px;
  border-radius: 10px;
  border: 2px solid #282b34;
}
body section form#dota_form .row:last-child,
body section form#csgo_form .row:last-child {
  margin-top: 30px;
}
body section form#dota_form .radiobuttons input,
body section form#csgo_form .radiobuttons input {
  display: none;
}
body section form#dota_form .radiobuttons input:checked + label,
body section form#csgo_form .radiobuttons input:checked + label {
  background: rgba(0, 0, 0, 0.1);
}
body section form#dota_form .radiobuttons label,
body section form#csgo_form .radiobuttons label {
  transition: background .4s;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 200;
  font-size: 1.3em;
  color: #282b34;
  padding: 5px 15px;
  margin: 5px 35px 0 0;
}
body section form#dota_form .list,
body section form#csgo_form .list {
  padding: 0 25px 0 0;
  margin-left: 25px;
}
body section form#dota_form label,
body section form#csgo_form label {
  font-size: 1.3em;
  margin-top: 10px;
}
body section form#dota_form label + div,
body section form#csgo_form label + div {
  padding: 0;
}
body section form#dota_form button[type="submit"],
body section form#csgo_form button[type="submit"] {
  margin-right: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: bold;
  font-size: 1.4em;
}
body section form#dota_form .search,
body section form#csgo_form .search {
  margin-left: 58px;
}
body section #items_list {
  margin-top: 15px;
}
body section #items_list .button_more {
  margin-top: 30px;
}
body section #items_list .button_more button {
  padding: 10px 30px;
}
body section #items_list div[class*="col-"] {
  text-align: center;
}
body section #items_list .exist_item,
body section #items_list .new_item {
  background: url("../img/overlay.png") repeat #282b34;
  border-radius: 10px;
  width: 262.5px;
  margin-right: 0;
  text-align: center;
  margin: 25px auto 0 auto;
  cursor: pointer;
  transition: box-shadow 0.3s;
}
body section #items_list .exist_item img,
body section #items_list .new_item img {
  height: 35%;
  width: 66%;
  margin-top: 30px;
}
body section #items_list .exist_item .item_price::after,
body section #items_list .new_item .item_price::after {
  content: " р.";
}
body section #items_list .new_item:hover {
  box-shadow: 0 0 25px #d2322d;
}
body section #items_list .new_item .item_name {
  color: #83868d;
  margin-top: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 1.5em;
}
body section #items_list .new_item .item_price {
  color: #e97770;
  margin-top: 10px;
  letter-spacing: 5px;
  font-weight: bold;
  font-size: 1.3em;
}
body section #items_list .new_item button {
  font-size: 1.4em;
  margin-top: 25px;
  padding: 8px 35px;
  margin-bottom: 30px;
}
body section #items_list .exist_item:hover {
  box-shadow: 0 0 25px #2c6899;
}
body section #items_list .exist_item .item_name {
  color: #83868d;
  margin-top: 10px;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 1.5em;
}
body section #items_list .exist_item .item_price {
  color: #e97770;
  margin-top: 10px;
  letter-spacing: 5px;
  font-weight: bold;
  font-size: 1.3em;
}
body section #items_list .exist_item .current_status {
  margin-top: 20px;
  position: relative;
}
body section #items_list .exist_item .current_status .progress {
  margin-left: 9%;
  width: 63%;
}
body section #items_list .exist_item .current_status .status_num {
  font-size: 1.3em;
  font-weight: bold;
  position: absolute;
  top: -1px;
  left: 205px;
  color: #83868d;
}
body section #items_list .exist_item .current_status .status_num::after {
  content: "%";
}
body section #items_list .exist_item button {
  margin-bottom: 20px;
  margin-top: 5px;
  padding: 4px 14%;
}
body footer {
  margin-top: 100px;
  box-shadow: 0 0 10px #000000;
  background: url("../img/overlay.png") repeat #282b34;
}
body footer div[class*="col-"],
body footer nav[class*="col-"] {
  text-align: center;
}
body footer li {
  list-style-type: none;
  display: inline-block;
}
body footer nav {
  margin-top: 30px;
}
body footer nav ul {
  margin: 0 auto;
  padding-left: 0;
}
body footer nav li {
  padding: 0 7px;
  font-size: 1.2em;
  margin: 0 5px;
}
body footer nav li a {
  color: #83868d;
  transition: all .3s;
}
body footer nav li a:hover,
body footer nav li a:focus {
  color: #eeeeee;
}
body footer #copyright {
  margin-top: 15px;
  margin-bottom: 40px;
}
body footer #copyright ul {
  margin: 0 auto;
  padding: 4px 0;
  width: 175px;
  border: 1px solid #83868d;
  border-radius: 8px;
}
body footer #copyright li {
  color: #83868d;
  font-size: 0.9em;
  font-weight: bold;
  padding: 0 6px;
}
body footer #copyright li:first-child {
  border-right: 1px solid #83868d;
}
body #modal_overlay {
  display: none;
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.65);
  cursor: pointer;
}
body #modal_window {
  box-shadow: 0 0 30px #000000;
  box-sizing: border-box;
  display: none;
  opacity: 0;
  position: fixed;
  width: 800px;
  height: 650px;
  top: 15%;
  left: 25%;
  border-radius: 10px;
  background: white;
  text-align: center;
}
body #modal_window button {
  margin-top: 7px;
}
body #modal_window img {
  height: 150px;
  width: 250px;
  margin-top: 75px;
}
body #modal_window .title {
  color: #b8bab3;
  margin-top: 20px;
  font-size: 2em;
  color: #282b34;
}
@media (min-width: 769px) {
  #dota_form label,
  #csgo_form label {
    font-weight: 200;
  }
  #dota_form label[for="start_price"],
  #csgo_form label[for="start_price"] {
    width: 108px;
    padding: 0 0 0 28px;
  }
  #dota_form label[for="finish_price"],
  #csgo_form label[for="finish_price"] {
    padding: 0 0 0 23px;
    width: 55px;
  }
}
@media (max-width: 1200px) {
  #dota_form .radiobuttons label,
  #csgo_form .radiobuttons label {
    margin-right: 14px !important;
  }
  #dota_form .list,
  #csgo_form .list {
    margin-left: 0 !important;
  }
  #dota_form .search,
  #csgo_form .search {
    margin-left: 25px !important;
  }
}
@media (max-width: 992px) {
  #dota_form .radiobuttons,
  #csgo_form .radiobuttons {
    text-align: center;
    margin-bottom: 30px;
  }
  #dota_form label[for*="_price"],
  #csgo_form label[for*="_price"] {
    padding-left: 0 !important;
  }
  #dota_form label[for="finish_price"],
  #csgo_form label[for="finish_price"] {
    margin-left: 30px;
  }
  #dota_form .search,
  #csgo_form .search,
  #dota_form .submit,
  #csgo_form .submit {
    margin-top: 30px !important;
  }
  #dota_form .search,
  #csgo_form .search {
    margin-left: 0 !important;
    padding-left: 0 !important;
  }
}
@media (max-width: 992px) and (min-width: 769px) {
  #items_list .exist_item,
  #items_list .new_item {
    width: 225px !important;
  }
  #items_list .status_num {
    left: 183px !important;
  }
  #items_list .progress {
    margin-left: 8% !important;
  }
}
@media (max-width: 768px) {
  header h1 {
    padding-left: 15px;
  }
  header ul.navbar_list {
    display: none;
    background: white;
    border: 2px solid #aaaaaa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 120px;
    right: 8px;
  }
  header ul.navbar_list li:last-child {
    border-bottom: none;
  }
  header ul.navbar_list li {
    display: block;
    margin: 0 !important;
    padding: 10px 0;
    border-bottom: 2px solid #aaaaaa;
  }
  header ul.navbar_list li a {
    padding: 0 25px;
    color: #282b34 !important;
    opacity: 1 !important;
  }
  header ul.navbar_list li a:active,
  header ul.navbar_list li a:focus {
    color: #e97770 !important;
  }
  header ul.navbar_list::before {
    content: '';
    position: absolute;
    /* Абсолютное позиционирование */
    right: 36px;
    bottom: 104px;
    /* Положение треугольника */
    border: 20px solid transparent;
    border-bottom: 20px solid #aaaaaa;
  }
  header ul.navbar_list::after {
    content: '';
    position: absolute;
    /* Абсолютное позиционирование */
    right: 36px;
    bottom: 101px;
    /* Положение треугольника */
    border: 20px solid transparent;
    border-bottom: 20px solid white;
  }
  header ul.navbar_icon {
    display: block !important;
  }
  header ul.navbar_icon li {
    padding: 0 !important;
  }
  section #dota_form label[for="finish_price"],
  section #csgo_form label[for="finish_price"] {
    margin-left: 0;
  }
  section #dota_form .list,
  section #csgo_form .list {
    padding-right: 0 !important;
  }
  #modal_window img {
    height: 95px !important;
    width: 150px !important;
  }
}
@media (max-width: 661px) {
  #items_list .exist_item,
  #items_list .new_item {
    width: 225px !important;
  }
  #items_list .status_num {
    left: 175px !important;
  }
  #items_list .progress {
    margin-left: 8% !important;
  }
}
@media (max-width: 530px) {
  #items_list .exist_item,
  #items_list .new_item {
    width: 192px !important;
  }
  #items_list .exist_item .item_price,
  #items_list .new_item .item_price,
  #items_list .exist_item .item_name,
  #items_list .new_item .item_name {
    font-size: 1.1em !important;
  }
  #items_list .exist_item button,
  #items_list .new_item button {
    padding: 4px 9% !important;
    font-size: 1.1em;
  }
  #items_list .status_num {
    left: 147px !important;
    font-size: 1.2em !important;
  }
  #items_list .progress {
    margin-left: 12% !important;
    width: 56% !important;
  }
  #items_list .new_item button {
    margin-bottom: 33px !important;
  }
}
@media (max-width: 443px) {
  header h1 {
    font-size: 2.1em !important;
  }
  header ul.navbar_icon li {
    font-size: 1.5em !important;
    margin-top: 21px !important;
  }
  section #switcher label {
    left: 20px !important;
  }
  section #dota_form .radiobuttons,
  section #csgo_form .radiobuttons {
    font-size: 0.95em;
  }
  section #dota_form label:first-child + div,
  section #csgo_form label:first-child + div {
    margin-bottom: 11px !important;
  }
  section #dota_form label[for*="_price"],
  section #csgo_form label[for*="_price"] {
    font-size: 1.1em;
  }
  section #items_list .row .col-xs-6 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  section #items_list .row .col-xs-6:nth-child(2n+1) {
    text-align: left;
  }
  section #items_list .row .col-xs-6:nth-child(2n) {
    text-align: right;
  }
  section #items_list .exist_item,
  section #items_list .new_item {
    width: 140px !important;
  }
  section #items_list .exist_item .item_price,
  section #items_list .new_item .item_price,
  section #items_list .exist_item .item_name,
  section #items_list .new_item .item_name {
    font-size: 1em !important;
  }
  section #items_list .exist_item button,
  section #items_list .new_item button {
    padding: 4px 4px !important;
    font-size: 1em;
  }
  section #items_list .status_num {
    left: 100px !important;
    font-size: 1.2em !important;
  }
}
