// path-variables
@texture: "../img/overlay.png";

// color-variables
@bg_color : #f3f3f3; 
@head_foot_color: #282b34;
@pink: #e97770;
@navigation_color: #eeeeee;
@prompt_nav_border_color: #aaaaaa;

// size-variables
@header_height: 100px; 

// font-variables
@head_title_font: "Bitter";

body{
	background: url(@texture) repeat @bg_color;

	header{
		background: url(@texture) repeat @head_foot_color;
		box-shadow: 0 0 10px rgba(0,0,0,1);
		
		//title styles
		h1{
			font-family: @head_title_font;
			color: white;
			margin: @header_height/4 0;
			font-size: 3.3em;
			float: left;
		}

		// navigation styles
		ul{
			list-style: none;
			float: right;
			margin: 0;
			padding: 0;
			
			// Styles for icon
			&.navbar_icon{
				display: none;
				li{
					margin-top: 10px;
					padding: 0 35px;
					font-size: 2.7em;
				}
			}
			
			// Styles for list
			&.navbar_list{
				li{
					margin: @header_height/2.5 0 0 0;
				}
			}
			
			// General styles for list and icon
			li{
				display: inline-block;
				
				a{
					padding: 0 25px;
					color: @navigation_color;
					opacity: .7;
					font-size: 1.6em;
					font-family: "PT Sans";
					transition: opacity .15s ease-in-out;
					
					&:hover, &:focus{
						text-decoration: none;
						color: @navigation_color;
						opacity: 1;
					}
				}
			}

		}
	}

	section{
		form{
			// General styles for both forms

			// Styles for Dota Form
			&#dota_form{
				margin: 100px 0 0 0;
				background: url(@texture) repeat white;
				padding: 50px 75px;
				border-radius: 10px;
				border: 2px solid @head_foot_color;
				
				.row:last-child{
					margin-top: 30px;
				}

				// Radion-buttons Style
				.radiobuttons{
					
					input{
						display: none;
					}
					input:checked + label{
						background:  rgba(0,0,0,.1);
					}
					label{
						transition: background .4s;
						border-radius: 5px;
						cursor: pointer;
						font-weight: 200;
						font-size: 1.3em;
						color: @head_foot_color;
						padding: 5px 15px;
						margin: 5px 35px 0 0;
					}
				}

				// Lists Styles
				.list{
					padding: 0 25px 0 0;
					margin-left: 25px;
				}

				// Price Options Styles
				label{
					font-size: 1.3em;
					margin-top: 10px;
				}
				label + div{
					padding: 0;
				}

				// Submit-button Styles
				button[type="submit"]{
					margin-right: 10px;
					padding-left: 30px;
					padding-right: 30px;
					font-weight: bold;
					font-size: 1.4em;
				}

				//Search Input Styles
				.search{
					margin-left: 58px;
				}
			}
		}
	}
}
@media (min-width: 769px){
	
	// Dota-form Styles
	#dota_form{

		// Price Options Styles
		label{
			font-weight: 200;
		}
		label[for="start_price"]{
			width: 108px;
			padding: 0 0 0 28px;
		}
		label[for="finish_price"]{
			padding: 0 0 0 23px;
			width: 55px;
		}
	}
}

@media (max-width: 1200px){
	
	// Dota-Form Styles
	#dota_form {

		// Radio-buttons Styles
		.radiobuttons label{
			margin-right: 14px !important;
		}

		//Lists Styles
		.list{
			margin-left: 0 !important;
		}

		// Search Input Styles
		.search{
			margin-left: 25px !important;
		}
	}
}

@media (max-width: 992px){

	#dota_form{

		//Radio-buttons Styles
		.radiobuttons{
			text-align: center;
			margin-bottom: 30px;
		}
		
		// Price Options Styles
		label[for*="_price"]{
			padding-left: 0 !important;
		}
		label[for="finish_price"]{
			margin-left: 30px;
		}

		// Search Input and Submit-button Styles
		.search, .submit{
			margin-top: 30px !important;
		}
		.search{
			margin-left: 0 !important;
			padding-left: 0 !important;
		}
	}
}

@media (max-width: 768px){
	header{	
		h1{
			padding-left: 15px;
		}
		ul{
			// Create prompt nav menu
			&.navbar_list{
				display: none;
				background: white;
				border: 2px solid @prompt_nav_border_color; 
				border-radius: 10px;
				box-shadow: 0 0 10px rgba(0,0,0,0.2);
				position: absolute;
				top: 120px;
				right: 8px;

				li:last-child{
					border-bottom: none;
				}
				li{
					display: block;
					margin: 0 !important;
					padding: 10px 0;
					border-bottom: 2px solid @prompt_nav_border_color;

					a{
						padding: 0 25px;
						color: @head_foot_color !important;
						opacity: 1 !important;
						&:active, &:focus{
							color: @pink !important;
						}
					}
				}

				// Create triangle from two elements: before and after
				&::before {
					content: '';
					position: absolute; /* Абсолютное позиционирование */
					right: 36px; bottom: 104px; /* Положение треугольника */
					border: 20px solid transparent;
					border-bottom: 20px solid @prompt_nav_border_color;
				}
				&::after {
					content: '';
					position: absolute; /* Абсолютное позиционирование */
					right: 36px; bottom: 101px; /* Положение треугольника */
					border: 20px solid transparent;
					border-bottom: 20px solid white;
				}
			}

			//Display navigation icon for small screens
			&.navbar_icon{
				display: block !important;
				li{
					padding: 0 !important;
				}
			}
		}
	}

	section{

		// Dota-form Styles
		#dota_form{

			// Price Options Styles
			label[for="finish_price"]{
				margin-left: 0;
			}
			.list{
				padding-right: 0 !important;
			}
		}
	}
}

@media (max-width: 430px){
	header{
		h1{
			font-size: 2.3em !important;
		}
		ul.navbar_icon li{
			font-size: 1.5em !important;
			margin-top: 21px !important;
		}
	}
	section{
		#dota_form{
			.radiobuttons{
				font-size: 0.95em;
			}
			label[for*="_price"]{
				font-size: 1.1em;
			}
		}
	}
}