// path-variables
@texture: "../img/overlay.png";
@cs_logo: "../../src/img/csgo_logo.png";
@dota_logo: "../../src/img/dota_logo.png";

// color-variables
@bg_color : #f3f3f3;
@bg_auth_color: #fdfdfd; 
@head_foot_color: #282b34;
@pink: #e97770;
@navigation_color: #eeeeee;
@prompt_nav_border_color: #aaaaaa;
@item_name_color: #83868d;
@switcher_color: #B8BAB3;
@switcher_check_color: @head_foot_color;
@new_item_shadow: #d2322d;
@exist_item_shadow: #2c6899;
@footer_text_color: @item_name_color;
@entry_form_color: #f5f5f5;
@entry_form_border_color: #dddddd;

// size-variables
@header_height: 100px; 

// font-variables
@head_title_font: "Roboto Slab";
@entry_font: "Comfortaa"; // authentication page
@switcher: "Ubuntu";
@submit_button_font: @entry_font;
@items_button_font: @entry_font;
@items_name_font: "Ubuntu";
@items_price_font: "Ubuntu";
@footer_nav_font: "Ubuntu";
@footer_copyright_font: "Comfortaa";

//====================
@import url(http://fonts.googleapis.com/css?family=Comfortaa);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(http://fonts.googleapis.com/css?family=Ubuntu);