@import url(http://fonts.googleapis.com/css?family=Comfortaa);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);
footer {
  margin-top: 100px;
  -webkit-box-shadow: 0 0 10px #000000;
     -moz-box-shadow: 0 0 10px #000000;
          box-shadow: 0 0 10px #000000;
  background: url("../img/overlay.png") repeat #282b34;
}
footer div[class*="col-"],
footer nav[class*="col-"] {
  text-align: center;
}
footer li {
  list-style-type: none;
  display: inline-block;
}
footer nav {
  margin-top: 30px;
}
footer nav ul {
  margin: 0 auto;
  padding-left: 0;
}
footer nav li {
  padding: 0 7px;
  font-size: 1.2em;
  margin: 0 5px;
}
footer nav li a {
  color: #83868d;
  -webkit-transition: all .3s;
     -moz-transition: all .3s;
       -o-transition: all .3s;
          transition: all .3s;
}
footer nav li a:hover,
footer nav li a:focus {
  color: #eeeeee;
}
footer #copyright {
  margin-top: 15px;
  margin-bottom: 40px;
}
footer #copyright ul {
  margin: 0 auto;
  padding: 4px 0;
  width: 175px;
  border: 1px solid #83868d;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
}
footer #copyright li {
  color: #83868d;
  font-size: 0.9em;
  font-weight: bold;
  padding: 0 6px;
}
footer #copyright li:first-child {
  border-right: 1px solid #83868d;
}
